[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blastar"]
	path = blastar
	url = https://github.com/loukesio/blastar
[submodule "ggvolc"]
	path = ggvolc
	url = https://github.com/loukesio/ggvolc
[submodule "ltc"]
	path = ltc
	url = https://github.com/loukesio/ltc-color-palettes
